<img src="data\imgs\logo.png" align="right" style="float" width="200">
<font color="#1874CD"><h1 align="left"><b>Datathon PDS06</b></h1></font>
<font color="#6E6E6E"><h2 align="left"><b>Christian Esteve Orts</b></h2></font>
<font color="#6E6E6E"><h3 align="left">Notebook: regresión lineal</h3></font>

***

El ejercicio consta de un problema de regresión, siendo la última columna el target y el resto las potenciales variables predictoras.

## Librerías

In [10]:
# Gestión de la estrucutra de los datos
import pandas as pd
import numpy as np
import openpyxl

# Gestión de ruta al dataset, por si se necesita cambiar en un futuro a una base de datos o servicio en la nube
from pathlib import Path

# Visualización de datos
import matplotlib.pyplot as plt
import seaborn as sns

## Importación del dataset

In [23]:

DATA_PATH = Path("data/train.xlsx")  # cámbialo aquí si hace falta
df = pd.read_excel(DATA_PATH)
print(f"Número de observaciones y columnas: {df.shape}")
df.head(10)

Número de observaciones y columnas: (772, 11)

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,deseada
0,27585.8881,0.00,2.215558,176.46,4.49,1058.60,780.09,28.0,-1.867265,0.900023,21.539230
1,45693.3376,98.06,1.406881,NaN,6.65,1066.00,785.52,NaN,0.633919,0.862797,17.836744
2,110889.0000,0.00,0.000000,192.00,NaN,931.20,842.60,7.0,-0.203045,0.461557,23.404952
3,241081.0000,26.00,2.093422,210.00,3.93,882.00,699.00,28.0,-1.382800,0.338268,55.551081
4,34670.4400,124.10,0.000000,185.70,0.00,1083.40,NaN,28.0,-0.510016,0.603488,17.596806
5,NaN,NaN,NaN,221.40,10.50,819.20,778.40,28.0,-1.280304,0.634104,31.420111
6,62500.0000,0.00,1.985382,187.42,NaN,956.86,861.17,3.0,0.404982,0.404319,13.817099
7,133956.0000,187.00,0.000000,191.30,6.60,824.30,756.90,NaN,NaN,0.071008,65.909079
8,99225.0000,137.00,0.000000,145.00,5.90,1130.00,NaN,28.0,-0.599393,0.239180,81.751169
9,98156.8900,262.20,0.000000,175.50,8.60,1046.90,611.80,3.0,1.538037,NaN,28.799413

Comprobación rápida de datos faltantes

In [15]:
## NAs
df.isna().sum().sum()

np.int64(774)

Se puede observar de forma rápida que el dataset tiene datos faltantes

In [ ]:
## Obtenemos algunos estadísticos para ver la estructura de los datos para situar los datos faltantes
print(f"Recordar el número de observaciones: {df.shape[0]}")

display(df.describe().T)

Recordar el numero de observaciones: 772

,count,mean,std,min,25%,50%,75%,max
x1,706.0,92761.097733,68338.519818,10404.000000,37900.302400,76729.000000,131478.760000,291600.000000
x2,685.0,72.037898,86.135309,0.000000,0.000000,20.000000,141.300000,359.400000
x3,703.0,0.882659,1.026148,0.000000,0.000000,0.000000,2.073865,2.292256
x4,690.0,181.944594,21.474526,121.750000,164.925000,185.700000,192.000000,247.000000
x5,698.0,6.168636,6.033556,0.000000,0.000000,6.000000,10.100000,32.200000
x6,704.0,971.787997,79.482087,801.000000,932.000000,967.040000,1034.250000,1145.000000
x7,699.0,772.917167,81.459988,594.000000,725.950000,779.700000,824.000000,992.600000
x8,687.0,45.914119,62.163402,1.000000,14.000000,28.000000,56.000000,365.000000
x9,694.0,0.018116,0.979987,-3.241267,-0.651777,0.046709,0.654966,2.720169
x10,680.0,0.496178,0.287545,0.005230,0.248967,0.497494,0.731890,0.998348
deseada,772.0,35.895710,16.786940,2.331808,23.742796,34.222141,45.865322,82.599225


Si comparamos el total de registros de la columna target "deseada" y lo comparamos con las variables predictoras.